@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Open Sans';
    text-align: left;
    margin: 10px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: gray;
    margin: 10px;
}

h1 {
    font-family: 'Open Sans';
    font-size: 72px;
    color: lightgrey;
}

h2 {
    font-family: 'Open Sans';
    font-size: 16px;
    color: gray;
    margin: 30px;
}

img {
    width: 700px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

footer {
    font-family: 'Open Sans';
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: lightgray;
    color: white;
    text-align: center;
}